.Article article {
    border: 1px solid #ccc;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    color: #333;
}

.Article:hover {
    background-color: #fafafa;
}

.Article a {
    text-decoration: none;
}

.author {
    color: #999;
}